In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [4]:
df1 = pd.read_csv("covid19_tweets.csv")

In [5]:
df1.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [6]:
df1.shape

(125101, 13)

In [7]:
df1.groupby('user_location')['user_location'].agg('count')

user_location
\nÀ¢·µí·µê·µâ ∑ ∞·µâ ≥·µâ\nüñ§          4
                       19
     Cathlamet, Wa.     1
   Canada üá®üá¶üçÅüõ∂üå≤         1
   WorldWide            1
                       ..
ü•∞ü•∞                      1
ü¶Ñ                       1
ü¶Ñüåà‚ù§Ô∏èüß°üíõüíöüíôüíúüåàü¶Ñ             3
ü¶Öüíõüíõüíô‚ù§üåã                  1
ü™ê                       4
Name: user_location, Length: 21398, dtype: int64

In [8]:
df2 = df1.drop(['user_name', 'user_description', 'user_created', 'user_followers', 'user_friends', 'user_favourites', 'user_verified', 'text', 'source', 'is_retweet'],axis='columns')
df2.head()

,user_location,date,hashtags
0,astroworld,2020-07-25 12:27:21,NaN
1,"New York, NY",2020-07-25 12:27:17,NaN
2,"Pewee Valley, KY",2020-07-25 12:27:14,['COVID19']
3,Stuck in the Middle,2020-07-25 12:27:10,['COVID19']
4,Jammu and Kashmir,2020-07-25 12:27:08,"['CoronaVirusUpdates', 'COVID19']"

In [9]:
df2.isnull().sum()

user_location    25192
date                 0
hashtags         35971
dtype: int64

In [10]:
df3 = df2.dropna()
df3.isnull().sum()

user_location    0
date             0
hashtags         0
dtype: int64

In [11]:
df3.head()

,user_location,date,hashtags
2,"Pewee Valley, KY",2020-07-25 12:27:14,['COVID19']
3,Stuck in the Middle,2020-07-25 12:27:10,['COVID19']
4,Jammu and Kashmir,2020-07-25 12:27:08,"['CoronaVirusUpdates', 'COVID19']"
5,–ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è,2020-07-25 12:27:06,"['coronavirus', 'covid19']"
6,"Gainesville, FL",2020-07-25 12:27:03,"['COVID19', 'Recruiting']"

In [12]:
df3.user_location.unique()

array(['Pewee Valley, KY', 'Stuck in the Middle ', 'Jammu and Kashmir',
       ..., 'Global Analysis', 'The Mazzaroth', 'Across Africa'],
      dtype=object)

In [13]:
df3.hashtags.unique()

array(["['COVID19']", "['CoronaVirusUpdates', 'COVID19']",
       "['coronavirus', 'covid19']", ..., "['COVID19', 'FRONTLINE']",
       "['Agility', 'COVID19']", "['Russia', 'coronavirusvaccine']"],
      dtype=object)

In [14]:
def date_to_day(x):
    tokens = x.split(' ')
    if len(tokens) == 2:
        return (tokens[0])

In [15]:
date_to_day('2020-07-25 12:27:14')

'2020-07-25'

In [16]:
df4 = df3.copy()
df4['date'] = df4['date'].apply(date_to_day)

In [17]:
df4.head()

          user_location        date                           hashtags
2      Pewee Valley, KY  2020-07-25                        ['COVID19']
3  Stuck in the Middle   2020-07-25                        ['COVID19']
4     Jammu and Kashmir  2020-07-25  ['CoronaVirusUpdates', 'COVID19']
5           –ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è  2020-07-25         ['coronavirus', 'covid19']
6       Gainesville, FL  2020-07-25          ['COVID19', 'Recruiting']

In [18]:
df4.date.unique()

array(['2020-07-25', '2020-07-24', '2020-07-26', '2020-07-27',
       '2020-07-28', '2020-07-29', '2020-07-30', '2020-07-31',
       '2020-08-01', '2020-08-02', '2020-08-04', '2020-08-06',
       '2020-08-07', '2020-08-08', '2020-08-09', '2020-08-10',
       '2020-08-11', '2020-08-12', '2020-08-13'], dtype=object)

In [19]:
print(df4.head(20))

                                        user_location        date  \
2                                    Pewee Valley, KY  2020-07-25
3                                Stuck in the Middle   2020-07-25
4                                   Jammu and Kashmir  2020-07-25
5                                         –ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è  2020-07-25
6                                     Gainesville, FL  2020-07-25
9                          üëáüèªlocation at link belowüëáüèª  2020-07-25
11                                   Dhaka,Bangladesh  2020-07-25
12  Hotel living - various cities!  Who needs a ho...  2020-07-25
13                                             Africa  2020-07-25
15                                    Nagaland, India  2020-07-25
17                                           Brussels  2020-07-25
23                                     100+ countries  2020-07-25
24                                               Graz  2020-07-25
25                                      Mumbai, India  2020-07-25
26                          Working in 175+ countries  2020-07-25
27                                      Manhattan, NY  2020-07-25
28                      no e-pass to cross borders...  2020-07-25
30                                      United States  2020-07-25
31                                     Chennai, India  2020-07-25
32                                          Miami, FL  2020-07-25

                                             hashtags
2                                         ['COVID19']
3                                         ['COVID19']
4                   ['CoronaVirusUpdates', 'COVID19']
5                          ['coronavirus', 'covid19']
6                           ['COVID19', 'Recruiting']
9                       ['HurricaneHanna', 'COVID19']
11  ['logo', 'graphicdesigner', 'logodesign', 'log...
12                                        ['COVID19']
13                                        ['COVID19']
15                  ['Covid19', 'keepsocialdistance']
17                            ['COVID19', 'homework']
23                                ['WASH', 'COVID19']
24                                        ['COVID19']
25                      ['Kolar', 'Blood', 'COVID19']
26                           ['BosniaandHerzegovina']
27                                        ['COVID19']
28                ['TNCoronaUpdate', 'TN', 'COVID19']
30                  ['FEMA', 'PuertoRico', 'COVID19']
31                              ['Covid19', 'Vishal']
32                              ['covid19', 'Africa']

In [20]:
df4.head(20)

,user_location,date,hashtags
2,"Pewee Valley, KY",2020-07-25,['COVID19']
3,Stuck in the Middle,2020-07-25,['COVID19']
4,Jammu and Kashmir,2020-07-25,"['CoronaVirusUpdates', 'COVID19']"
5,–ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è,2020-07-25,"['coronavirus', 'covid19']"
6,"Gainesville, FL",2020-07-25,"['COVID19', 'Recruiting']"
9,üëáüèªlocation at link belowüëáüèª,2020-07-25,"['HurricaneHanna', 'COVID19']"
11,"Dhaka,Bangladesh",2020-07-25,"['logo', 'graphicdesigner', 'logodesign', 'log..."
12,Hotel living - various cities! Who needs a ho...,2020-07-25,['COVID19']
13,Africa,2020-07-25,['COVID19']
15,"Nagaland, India",2020-07-25,"['Covid19', 'keepsocialdistance']"
17,Brussels,2020-07-25,"['COVID19', 'homework']"
23,100+ countries,2020-07-25,"['WASH', 'COVID19']"
24,Graz,2020-07-25,['COVID19']
25,"Mumbai, India",2020-07-25,"['Kolar', 'Blood', 'COVID19']"
26,Working in 175+ countries,2020-07-25,['BosniaandHerzegovina']
27,"Manhattan, NY",2020-07-25,['COVID19']
28,no e-pass to cross borders...,2020-07-25,"['TNCoronaUpdate', 'TN', 'COVID19']"
30,United States,2020-07-25,"['FEMA', 'PuertoRico', 'COVID19']"
31,"Chennai, India",2020-07-25,"['Covid19', 'Vishal']"
32,"Miami, FL",2020-07-25,"['covid19', 'Africa']"

In [21]:
df4['user_location'].unique()

array(['Pewee Valley, KY', 'Stuck in the Middle ', 'Jammu and Kashmir',
       ..., 'Global Analysis', 'The Mazzaroth', 'Across Africa'],
      dtype=object)

In [24]:
dfDropTest = df4.drop(df4['user_location'].unique(), inplace = True)

KeyError: "['Pewee Valley, KY' 'Stuck in the Middle ' 'Jammu and Kashmir' ...\n 'Global Analysis' 'The Mazzaroth' 'Across Africa'] not found in axis"

In [25]:
uniqueLocations = df4['user_location'].unique()

In [26]:
dfDropTest = df4.copy()

In [27]:
dfDropTest.head()

          user_location        date                           hashtags
2      Pewee Valley, KY  2020-07-25                        ['COVID19']
3  Stuck in the Middle   2020-07-25                        ['COVID19']
4     Jammu and Kashmir  2020-07-25  ['CoronaVirusUpdates', 'COVID19']
5           –ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è  2020-07-25         ['coronavirus', 'covid19']
6       Gainesville, FL  2020-07-25          ['COVID19', 'Recruiting']

In [28]:
df4['user_location'].unique(20)

TypeError: unique() takes 1 positional argument but 2 were given

In [29]:
df4['user_location'].unique()

array(['Pewee Valley, KY', 'Stuck in the Middle ', 'Jammu and Kashmir',
       ..., 'Global Analysis', 'The Mazzaroth', 'Across Africa'],
      dtype=object)

In [30]:
print(uniqueLocations[4])

Gainesville, FL

AttributeError: 'numpy.ndarray' object has no attribute 'len'

In [35]:
print(len(uniqueLocations))

16833

In [36]:
dfStateParseTest = df4.copy()

In [37]:
def city_to_state(x):
    tokens = x.split(',')
    if len(tokens) == 2:
        return (tokens[1].strip())

In [38]:
city_to_state('Stuart, FL')

'FL'

In [39]:
df5 = df4.copy()

In [40]:
def city_to_state(x):
    tokens = x.split(',')
    if len(tokens) == 2:
        state = tokens[1].strip()
        if len(state) == 2:
            return state

In [42]:
city_to_state('Stuart, FL')

TypeError: object of type 'builtin_function_or_method' has no len()

In [43]:
def city_to_state(x):
    tokens = x.split(',')
    if len(tokens) == 2:
        state = tokens[1].strip()
        if len(state) == 2:
            return state

In [44]:
city_to_state('Stuart, FL')

'FL'

In [45]:
city_to_state('Stuart, Floooridasdasdsad')

In [46]:
def city_to_state(x):
    tokens = x.split(',')
    if len(tokens) == 2:
        state = tokens[1].strip()
        if len(state) == 2:
            return state
        else:
            return x

In [47]:
city_to_state('Stuart, Floooridasdasdsad')

'Stuart, Floooridasdasdsad'

In [48]:
city_to_state('Stuart, FL')

'FL'

In [49]:
df5['user_location'] = df4['user_location'].apply(city_to_state)

In [50]:
df5.head()

  user_location        date                           hashtags
2            KY  2020-07-25                        ['COVID19']
3          None  2020-07-25                        ['COVID19']
4          None  2020-07-25  ['CoronaVirusUpdates', 'COVID19']
5          None  2020-07-25         ['coronavirus', 'covid19']
6            FL  2020-07-25          ['COVID19', 'Recruiting']

In [51]:
def convert_city_to_state(x):
    tokens = x.split(',')
    if len(tokens) == 2:
        state = tokens[1].strip()
        if len(state) == 2:
            return state
        else:
            return x

In [52]:
df5 = df4.copy()

In [53]:
def convert_city_to_state(x):
    tokens = x.split(',')
    if len(tokens) == 2:
        state = tokens[1].strip()
        if len(state) == 2:
            return state
        else:
            return x
    else:
        return x

In [54]:
convert_city_to_state('blah blah blah')

'blah blah blah'

In [55]:
df5['user_location'] = df4['user_location'].apply(city_to_state)
df5.head()

  user_location        date                           hashtags
2            KY  2020-07-25                        ['COVID19']
3          None  2020-07-25                        ['COVID19']
4          None  2020-07-25  ['CoronaVirusUpdates', 'COVID19']
5          None  2020-07-25         ['coronavirus', 'covid19']
6            FL  2020-07-25          ['COVID19', 'Recruiting']

In [56]:
df5 = df4.copy()

In [57]:
df5.head()

          user_location        date                           hashtags
2      Pewee Valley, KY  2020-07-25                        ['COVID19']
3  Stuck in the Middle   2020-07-25                        ['COVID19']
4     Jammu and Kashmir  2020-07-25  ['CoronaVirusUpdates', 'COVID19']
5           –ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è  2020-07-25         ['coronavirus', 'covid19']
6       Gainesville, FL  2020-07-25          ['COVID19', 'Recruiting']

In [58]:
df5['user_location'] = df5['user_location'].apply(convert_city_to_state)
df5.head()

          user_location        date                           hashtags
2                    KY  2020-07-25                        ['COVID19']
3  Stuck in the Middle   2020-07-25                        ['COVID19']
4     Jammu and Kashmir  2020-07-25  ['CoronaVirusUpdates', 'COVID19']
5           –ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è  2020-07-25         ['coronavirus', 'covid19']
6                    FL  2020-07-25          ['COVID19', 'Recruiting']

In [59]:
df5['user_location'].unique()

array(['KY', 'Stuck in the Middle ', 'Jammu and Kashmir', ...,
       'Global Analysis', 'The Mazzaroth', 'Across Africa'], dtype=object)

In [60]:
df5.shape

(71474, 3)

In [61]:
df5.user_location.describe()

count     71474
unique    14833
top       India
freq       1994
Name: user_location, dtype: object

In [62]:
df5.date.describe()

count          71474
unique            19
top       2020-07-25
freq            9535
Name: date, dtype: object

In [63]:
df6 = df6[~df5['user_location'].unique()]

NameError: name 'df6' is not defined

In [64]:
df6 = df5[~(df5['user_location'].unique())]

TypeError: bad operand type for unary ~: 'str'

In [65]:
df6 = df5.copy()

In [66]:
df6 = df6.drop(df6['user_location'].unique())

KeyError: "['KY' 'Stuck in the Middle ' 'Jammu and Kashmir' ... 'Global Analysis'\n 'The Mazzaroth' 'Across Africa'] not found in axis"

In [67]:
uniqueLocations = df6.['user_location'].unique()

SyntaxError: invalid syntax (<ipython-input-67-d3139d3953d6>, line 1)

In [68]:
df6 = df6.drop(df6.user_location.unique())

KeyError: "['KY' 'Stuck in the Middle ' 'Jammu and Kashmir' ... 'Global Analysis'\n 'The Mazzaroth' 'Across Africa'] not found in axis"

In [69]:
uniqueLocations = df6.user_location.unique()

In [70]:
print(uniqueLocations)

['KY' 'Stuck in the Middle ' 'Jammu and Kashmir' ... 'Global Analysis'
 'The Mazzaroth' 'Across Africa']

In [71]:
df6 = df6[df6['user_location'].duplicated(keep=False)]

In [72]:
df6.head()

,user_location,date,hashtags
2,KY,2020-07-25,['COVID19']
4,Jammu and Kashmir,2020-07-25,"['CoronaVirusUpdates', 'COVID19']"
5,–ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è,2020-07-25,"['coronavirus', 'covid19']"
6,FL,2020-07-25,"['COVID19', 'Recruiting']"
11,"Dhaka,Bangladesh",2020-07-25,"['logo', 'graphicdesigner', 'logodesign', 'log..."

In [73]:
df6.describe()

       user_location        date     hashtags
count          61591       61591        61591
unique          4950          19        26734
top            India  2020-07-25  ['COVID19']
freq            1994        8208        18638

In [74]:
df5.describe()

       user_location        date     hashtags
count          71474       71474        71474
unique         14833          19        31164
top            India  2020-07-25  ['COVID19']
freq            1994        9535        21772

In [75]:
df6.to_csv(r'C:\Users\dvddc\Documents\Coding\covid-viz\cleaned_covid_tweets.csv')

In [76]:
def city_to_state(x):
    tokens = x.split(',')
    if len(tokens) == 2:
        state = tokens[1].strip()
        if len(state) == 2:
            return state
        if (state == 'USA'):
            return tokens[0]

In [77]:
city_to_state('California, USA')

'California'

In [78]:
def city_to_state(x):
    tokens = x.split(',')
    if len(tokens) == 2:
        state = tokens[1].strip()
        if len(state) == 2:
            return state
        if (state == 'USA' || state == 'US' || state == 'United States'):
            return tokens[0]

SyntaxError: invalid syntax (<ipython-input-78-9647fb2bd0dd>, line 7)

In [79]:
def city_to_state(x):
    tokens = x.split(',')
    if len(tokens) == 2:
        state = tokens[1].strip()
        if len(state) == 2:
            return state
        if (state == 'USA' or state == 'US' or state == 'United States'):
            return tokens[0]

In [80]:
def parse_state(x):
    tokens = x.split(',')
    if len(tokens) == 2:
        state = tokens[1].strip()
        if len(state) == 2:
            return state
        if (state == 'USA' or state == 'US' or state == 'United States'):
            return tokens[0]

In [81]:
parse_state('New York, United States')

'New York'

In [82]:
def parse_state(x):
    tokens = x.split(',')
    if len(tokens) == 2:
        state = tokens[1].strip()
        if len(state) == 2:
            return state
        if (state == 'USA' or state == 'US' or state == 'United States'):
            return tokens[0]
    return null

In [83]:
parse_state(' egrhrkjgb krgreighekr gkrejg bkjrgbjk')

NameError: name 'null' is not defined

In [84]:
def parse_state(x):
    tokens = x.split(',')
    if len(tokens) == 2:
        state = tokens[1].strip()
        if len(state) == 2:
            return state
        if (state == 'USA' or state == 'US' or state == 'United States'):
            return tokens[0]
    return None

In [85]:
parse_state(' egrhrkjgb krgreighekr gkrejg bkjrgbjk')

In [86]:
def parse_state(x):
    tokens = x.split(',')
    if len(tokens) == 2:
        state = tokens[1].strip()
        if len(state) == 2:
            return state
        if (state == 'USA' or state == 'US' or state == 'United States'):
            return tokens[0]
    return 'Null'

In [87]:
parse_state(' egrhrkjgb krgreighekr gkrejg bkjrgbjk')

'Null'

In [88]:
statesOnlyDF['user_location'] = df4['user_location'].apply(city_to_state)
statesOnlyDF.head()

NameError: name 'statesOnlyDF' is not defined

In [89]:
statesOnlyDF = df4.copy()

In [90]:
statesOnlyDF['user_location'] = df4['user_location'].apply(city_to_state)
statesOnlyDF.head()

  user_location        date                           hashtags
2            KY  2020-07-25                        ['COVID19']
3          None  2020-07-25                        ['COVID19']
4          None  2020-07-25  ['CoronaVirusUpdates', 'COVID19']
5          None  2020-07-25         ['coronavirus', 'covid19']
6            FL  2020-07-25          ['COVID19', 'Recruiting']

In [91]:
statesOnlyDF.head(50)

,user_location,date,hashtags
2,KY,2020-07-25,['COVID19']
3,None,2020-07-25,['COVID19']
4,None,2020-07-25,"['CoronaVirusUpdates', 'COVID19']"
5,None,2020-07-25,"['coronavirus', 'covid19']"
6,FL,2020-07-25,"['COVID19', 'Recruiting']"
9,None,2020-07-25,"['HurricaneHanna', 'COVID19']"
11,None,2020-07-25,"['logo', 'graphicdesigner', 'logodesign', 'log..."
12,None,2020-07-25,['COVID19']
13,None,2020-07-25,['COVID19']
15,None,2020-07-25,"['Covid19', 'keepsocialdistance']"
17,None,2020-07-25,"['COVID19', 'homework']"
23,None,2020-07-25,"['WASH', 'COVID19']"
24,None,2020-07-25,['COVID19']
25,None,2020-07-25,"['Kolar', 'Blood', 'COVID19']"
26,None,2020-07-25,['BosniaandHerzegovina']
27,NY,2020-07-25,['COVID19']
28,None,2020-07-25,"['TNCoronaUpdate', 'TN', 'COVID19']"
30,None,2020-07-25,"['FEMA', 'PuertoRico', 'COVID19']"
31,None,2020-07-25,"['Covid19', 'Vishal']"
32,FL,2020-07-25,"['covid19', 'Africa']"
33,None,2020-07-25,['COVID19']
36,None,2020-07-25,['COVID19']
38,UK,2020-07-25,"['BorisJohnson', '5COBRA', 'Five']"
39,None,2020-07-25,['COVID19']
40,None,2020-07-25,"['PlayYourPart', 'COVID19']"
41,None,2020-07-25,['Covid19']
42,None,2020-07-25,['COVID19']
43,None,2020-07-25,"['Delhi', 'COVID19']"
45,None,2020-07-25,"['TamilNadu', 'COVID19']"
46,None,2020-07-25,"['RutoSwindlingGEMA', 'COVID19']"
56,NY,2020-07-25,['COVID19']
57,LA,2020-07-25,['covid19']
61,None,2020-07-25,['COVID19']
64,GA,2020-07-25,"['COVID19', 'Coronavirus']"
65,None,2020-07-25,"['obesity', 'ÿ≤Ÿàÿßÿ¨_ÿ±ÿßŸÉÿßŸÜ_ÿßŸÑÿ≠ÿ±ÿ®Ÿä', 'carryminati'..."
67,NY,2020-07-25,['COVID19']
71,CO,2020-07-25,"['etsy', 'epiconetsy', 'masksforsale']"
72,None,2020-07-25,['COVID19']
75,None,2020-07-25,['Industry']
76,None,2020-07-25,['SaturdayVibes']
77,DC,2020-07-25,['COVID19']
80,None,2020-07-25,['Covid19']
81,None,2020-07-25,"['political', 'Covid19']"
82,None,2020-07-25,['clean']
85,None,2020-07-25,"['salescoach', 'BusinessCoach', 'salesforce']"
87,None,2020-07-25,"['NSTworld', 'NationalDayRally', 'NDR']"
90,None,2020-07-25,"['AmitShah', 'COVID19', 'Coronavirus']"
91,UK,2020-07-25,['COVID19']
92,None,2020-07-25,['COVID19']
93,None,2020-07-25,"['DurbanJuly', 'COVID19']"

In [92]:
statesOnlyDF = df4.copy()

In [93]:
statesOnlyDF['user_location'] = df4['user_location'].apply(parse_state)
statesOnlyDF.head(50)

,user_location,date,hashtags
2,KY,2020-07-25,['COVID19']
3,Null,2020-07-25,['COVID19']
4,Null,2020-07-25,"['CoronaVirusUpdates', 'COVID19']"
5,Null,2020-07-25,"['coronavirus', 'covid19']"
6,FL,2020-07-25,"['COVID19', 'Recruiting']"
9,Null,2020-07-25,"['HurricaneHanna', 'COVID19']"
11,Null,2020-07-25,"['logo', 'graphicdesigner', 'logodesign', 'log..."
12,Null,2020-07-25,['COVID19']
13,Null,2020-07-25,['COVID19']
15,Null,2020-07-25,"['Covid19', 'keepsocialdistance']"
17,Null,2020-07-25,"['COVID19', 'homework']"
23,Null,2020-07-25,"['WASH', 'COVID19']"
24,Null,2020-07-25,['COVID19']
25,Null,2020-07-25,"['Kolar', 'Blood', 'COVID19']"
26,Null,2020-07-25,['BosniaandHerzegovina']
27,NY,2020-07-25,['COVID19']
28,Null,2020-07-25,"['TNCoronaUpdate', 'TN', 'COVID19']"
30,Null,2020-07-25,"['FEMA', 'PuertoRico', 'COVID19']"
31,Null,2020-07-25,"['Covid19', 'Vishal']"
32,FL,2020-07-25,"['covid19', 'Africa']"
33,Null,2020-07-25,['COVID19']
36,Null,2020-07-25,['COVID19']
38,UK,2020-07-25,"['BorisJohnson', '5COBRA', 'Five']"
39,Null,2020-07-25,['COVID19']
40,Null,2020-07-25,"['PlayYourPart', 'COVID19']"
41,Null,2020-07-25,['Covid19']
42,Null,2020-07-25,['COVID19']
43,Null,2020-07-25,"['Delhi', 'COVID19']"
45,Null,2020-07-25,"['TamilNadu', 'COVID19']"
46,Null,2020-07-25,"['RutoSwindlingGEMA', 'COVID19']"
56,NY,2020-07-25,['COVID19']
57,LA,2020-07-25,['covid19']
61,Null,2020-07-25,['COVID19']
64,GA,2020-07-25,"['COVID19', 'Coronavirus']"
65,Null,2020-07-25,"['obesity', 'ÿ≤Ÿàÿßÿ¨_ÿ±ÿßŸÉÿßŸÜ_ÿßŸÑÿ≠ÿ±ÿ®Ÿä', 'carryminati'..."
67,NY,2020-07-25,['COVID19']
71,CO,2020-07-25,"['etsy', 'epiconetsy', 'masksforsale']"
72,Null,2020-07-25,['COVID19']
75,Null,2020-07-25,['Industry']
76,Null,2020-07-25,['SaturdayVibes']
77,DC,2020-07-25,['COVID19']
80,Null,2020-07-25,['Covid19']
81,Null,2020-07-25,"['political', 'Covid19']"
82,Null,2020-07-25,['clean']
85,Null,2020-07-25,"['salescoach', 'BusinessCoach', 'salesforce']"
87,Null,2020-07-25,"['NSTworld', 'NationalDayRally', 'NDR']"
90,Null,2020-07-25,"['AmitShah', 'COVID19', 'Coronavirus']"
91,UK,2020-07-25,['COVID19']
92,Null,2020-07-25,['COVID19']
93,Null,2020-07-25,"['DurbanJuly', 'COVID19']"

In [94]:
statesOnlyDF[statesOnlyDF.user_location != 'Null']

,user_location,date,hashtags
2,KY,2020-07-25,['COVID19']
6,FL,2020-07-25,"['COVID19', 'Recruiting']"
27,NY,2020-07-25,['COVID19']
32,FL,2020-07-25,"['covid19', 'Africa']"
38,UK,2020-07-25,"['BorisJohnson', '5COBRA', 'Five']"
...,...,...,...
125054,UK,2020-08-13,"['manchesterlockdown', 'COVID19']"
125065,GA,2020-08-13,"['coronavirus', 'scams']"
125077,UK,2020-08-13,['BorisJohnson']
125089,CA,2020-08-13,['COVID19']
125096,GA,2020-08-13,"['Breaking', 'news', 'severe', 'wx', 'covid19'..."

In [95]:
statesOnlyDF = statesOnlyDF[statesOnlyDF.user_location != 'Null']

In [96]:
statesOnlyDF.head(20)

,user_location,date,hashtags
2,KY,2020-07-25,['COVID19']
6,FL,2020-07-25,"['COVID19', 'Recruiting']"
27,NY,2020-07-25,['COVID19']
32,FL,2020-07-25,"['covid19', 'Africa']"
38,UK,2020-07-25,"['BorisJohnson', '5COBRA', 'Five']"
56,NY,2020-07-25,['COVID19']
57,LA,2020-07-25,['covid19']
64,GA,2020-07-25,"['COVID19', 'Coronavirus']"
67,NY,2020-07-25,['COVID19']
71,CO,2020-07-25,"['etsy', 'epiconetsy', 'masksforsale']"
77,DC,2020-07-25,['COVID19']
91,UK,2020-07-25,['COVID19']
104,NY,2020-07-25,"['FoxNews', 'COVID19', 'WaltDisneyWorld']"
107,NY,2020-07-25,"['coronavirus', 'COVID19', 'Hispanic', 'Latinx']"
115,FL,2020-07-25,['COVID19']
131,NY,2020-07-25,['COVID19']
159,Florida,2020-07-25,['AR']
169,NY,2020-07-25,"['wearamask', 'covid', 'covid19']"
180,IL,2020-07-25,"['airlines', 'coronavirus']"
184,FL,2020-07-25,"['COVID19', 'COVID19', 'FakeNews', 'Democrats']"

In [98]:
statesOnlyDF.to_csv(r'C:\Users\dvddc\Documents\Coding\covid-viz\US_cleaned_covid_tweets.csv')

In [99]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [100]:
print(us_state_abbrev)

{'Alabama': 'AL', 'Alaska': 'AK', 'American Samoa': 'AS', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'District of Columbia': 'DC', 'Florida': 'FL', 'Georgia': 'GA', 'Guam': 'GU', 'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Northern Mariana Islands': 'MP', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Puerto Rico': 'PR', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virgin Islands': 'VI', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

In [101]:
dictTest = statesOnlyDF.copy()

In [102]:
dictTest['user_location'].map(us_state_abbrev)

2         NaN
6         NaN
27        NaN
32        NaN
38        NaN
         ...
125054    NaN
125065    NaN
125077    NaN
125089    NaN
125096    NaN
Name: user_location, Length: 13585, dtype: object

In [103]:
dictTest.head()

   user_location        date                            hashtags
2             KY  2020-07-25                         ['COVID19']
6             FL  2020-07-25           ['COVID19', 'Recruiting']
27            NY  2020-07-25                         ['COVID19']
32            FL  2020-07-25               ['covid19', 'Africa']
38            UK  2020-07-25  ['BorisJohnson', '5COBRA', 'Five']

In [104]:
dictTest.head(50)

,user_location,date,hashtags
2,KY,2020-07-25,['COVID19']
6,FL,2020-07-25,"['COVID19', 'Recruiting']"
27,NY,2020-07-25,['COVID19']
32,FL,2020-07-25,"['covid19', 'Africa']"
38,UK,2020-07-25,"['BorisJohnson', '5COBRA', 'Five']"
56,NY,2020-07-25,['COVID19']
57,LA,2020-07-25,['covid19']
64,GA,2020-07-25,"['COVID19', 'Coronavirus']"
67,NY,2020-07-25,['COVID19']
71,CO,2020-07-25,"['etsy', 'epiconetsy', 'masksforsale']"
77,DC,2020-07-25,['COVID19']
91,UK,2020-07-25,['COVID19']
104,NY,2020-07-25,"['FoxNews', 'COVID19', 'WaltDisneyWorld']"
107,NY,2020-07-25,"['coronavirus', 'COVID19', 'Hispanic', 'Latinx']"
115,FL,2020-07-25,['COVID19']
131,NY,2020-07-25,['COVID19']
159,Florida,2020-07-25,['AR']
169,NY,2020-07-25,"['wearamask', 'covid', 'covid19']"
180,IL,2020-07-25,"['airlines', 'coronavirus']"
184,FL,2020-07-25,"['COVID19', 'COVID19', 'FakeNews', 'Democrats']"
214,Massachusetts,2020-07-25,['COVID19']
231,MI,2020-07-25,['Manufacturing']
236,TX,2020-07-25,['covid19']
237,Massachusetts,2020-07-25,['COVID19']
238,DC,2020-07-25,"['COVID19', 'TestingWhileBlack']"
244,WI,2020-07-25,"['masks', 'COVID19']"
250,IL,2020-07-25,"['WakeUp', 'COVID19', 'Fake', 'Plandemic', 'Ex..."
253,IN,2020-07-25,"['COVID19', 'InThisTogether']"
255,OH,2020-07-25,"['MedBikini', 'COVID19']"
257,NJ,2020-07-25,"['homeschooling', 'COVID19', 'coronavirus', 'NC']"
260,MO,2020-07-25,['COVID19']
261,NY,2020-07-25,['COVID19']
267,MO,2020-07-25,"['COVID19', 'Stimulus']"
268,OK,2020-07-25,"['facecoveringmandate', 'COVID19']"
272,Florida,2020-07-25,['COVID19']
301,South Florida,2020-07-25,"['ExGop', 'pandemic']"
302,NY,2020-07-25,['COVID19']
309,Launch Pad,2020-07-25,"['COVID19', 'coronavirus', 'cantstopthetruth']"
315,TX,2020-07-25,['COVID19']
335,nc,2020-07-25,['COVID19']
337,MD,2020-07-25,"['Annapolis', 'COVID19']"
355,DC,2020-07-25,"['EssentialSurgery', 'COVID19']"
357,NY,2020-07-25,['COVID19']
403,OH,2020-07-25,['COVID19']
416,NY,2020-07-25,['COVID19']
436,NY,2020-07-25,"['berkleyforum', 'covid19']"
439,Florida,2020-07-25,"['Coronavirus', 'Andorra', 'COVID19']"
450,New Jersey,2020-07-25,"['COVID19', 'theyhavenoidea']"
455,MA,2020-07-25,"['BlueWave2020', 'COVID19']"
463,North Carolina,2020-07-25,"['WWE', 'WrestleMania', 'COVID19', 'Coronavirus']"

In [105]:
dictTest['user_location'].map(us_state_abbrev).fillna(dictTest['user_location'])

2         KY
6         FL
27        NY
32        FL
38        UK
          ..
125054    UK
125065    GA
125077    UK
125089    CA
125096    GA
Name: user_location, Length: 13585, dtype: object

In [106]:
dictTest = dictTest['user_location'].map(us_state_abbrev).fillna(dictTest['user_location'])

In [107]:
dictTest.head(50)

2                 KY
6                 FL
27                NY
32                FL
38                UK
56                NY
57                LA
64                GA
67                NY
71                CO
77                DC
91                UK
104               NY
107               NY
115               FL
131               NY
159               FL
169               NY
180               IL
184               FL
214               MA
231               MI
236               TX
237               MA
238               DC
244               WI
250               IL
253               IN
255               OH
257               NJ
260               MO
261               NY
267               MO
268               OK
272               FL
301    South Florida
302               NY
309       Launch Pad
315               TX
335               nc
337               MD
355               DC
357               NY
403               OH
416               NY
436               NY
439               FL
450               NJ
455               MA
463               NC
Name: user_location, dtype: object

In [108]:
dictTest = statesOnlyDF.copy()

In [109]:
dictTest['user_location'] = dictTest['user_location'].map(us_state_abbrev).fillna(dictTest['user_location'])

In [110]:
dictTest.head(50)

,user_location,date,hashtags
2,KY,2020-07-25,['COVID19']
6,FL,2020-07-25,"['COVID19', 'Recruiting']"
27,NY,2020-07-25,['COVID19']
32,FL,2020-07-25,"['covid19', 'Africa']"
38,UK,2020-07-25,"['BorisJohnson', '5COBRA', 'Five']"
56,NY,2020-07-25,['COVID19']
57,LA,2020-07-25,['covid19']
64,GA,2020-07-25,"['COVID19', 'Coronavirus']"
67,NY,2020-07-25,['COVID19']
71,CO,2020-07-25,"['etsy', 'epiconetsy', 'masksforsale']"
77,DC,2020-07-25,['COVID19']
91,UK,2020-07-25,['COVID19']
104,NY,2020-07-25,"['FoxNews', 'COVID19', 'WaltDisneyWorld']"
107,NY,2020-07-25,"['coronavirus', 'COVID19', 'Hispanic', 'Latinx']"
115,FL,2020-07-25,['COVID19']
131,NY,2020-07-25,['COVID19']
159,FL,2020-07-25,['AR']
169,NY,2020-07-25,"['wearamask', 'covid', 'covid19']"
180,IL,2020-07-25,"['airlines', 'coronavirus']"
184,FL,2020-07-25,"['COVID19', 'COVID19', 'FakeNews', 'Democrats']"
214,MA,2020-07-25,['COVID19']
231,MI,2020-07-25,['Manufacturing']
236,TX,2020-07-25,['covid19']
237,MA,2020-07-25,['COVID19']
238,DC,2020-07-25,"['COVID19', 'TestingWhileBlack']"
244,WI,2020-07-25,"['masks', 'COVID19']"
250,IL,2020-07-25,"['WakeUp', 'COVID19', 'Fake', 'Plandemic', 'Ex..."
253,IN,2020-07-25,"['COVID19', 'InThisTogether']"
255,OH,2020-07-25,"['MedBikini', 'COVID19']"
257,NJ,2020-07-25,"['homeschooling', 'COVID19', 'coronavirus', 'NC']"
260,MO,2020-07-25,['COVID19']
261,NY,2020-07-25,['COVID19']
267,MO,2020-07-25,"['COVID19', 'Stimulus']"
268,OK,2020-07-25,"['facecoveringmandate', 'COVID19']"
272,FL,2020-07-25,['COVID19']
301,South Florida,2020-07-25,"['ExGop', 'pandemic']"
302,NY,2020-07-25,['COVID19']
309,Launch Pad,2020-07-25,"['COVID19', 'coronavirus', 'cantstopthetruth']"
315,TX,2020-07-25,['COVID19']
335,nc,2020-07-25,['COVID19']
337,MD,2020-07-25,"['Annapolis', 'COVID19']"
355,DC,2020-07-25,"['EssentialSurgery', 'COVID19']"
357,NY,2020-07-25,['COVID19']
403,OH,2020-07-25,['COVID19']
416,NY,2020-07-25,['COVID19']
436,NY,2020-07-25,"['berkleyforum', 'covid19']"
439,FL,2020-07-25,"['Coronavirus', 'Andorra', 'COVID19']"
450,NJ,2020-07-25,"['COVID19', 'theyhavenoidea']"
455,MA,2020-07-25,"['BlueWave2020', 'COVID19']"
463,NC,2020-07-25,"['WWE', 'WrestleMania', 'COVID19', 'Coronavirus']"

In [111]:
statesAbr = dictTest.copy()

In [112]:
statesAbr.to_csv(r'C:\Users\dvddc\Documents\Coding\covid-viz\US_cleaned_covid_tweets.csv')

In [113]:
def state_abbr_format(x):
    if (len(x) != 2):

SyntaxError: unexpected EOF while parsing (<ipython-input-113-bbaf8a71b9dd>, line 2)

In [114]:
def state_abbr_format(x):
    if (len(x) != 2
        return 'Null'
    return x.toUpper()

SyntaxError: invalid syntax (<ipython-input-114-ae89091d5172>, line 3)

In [115]:
def state_abbr_format(x):
    if (len(x) != 2)
        return 'Null'
    return x.toUpper()

SyntaxError: invalid syntax (<ipython-input-115-808855979eab>, line 2)

In [116]:
def state_abbr_format(x):
    if (!len(x) == 2)
        return 'Null'
    return x.toUpper()

SyntaxError: invalid syntax (<ipython-input-116-fba1d0632fd3>, line 2)

In [117]:
def state_abbr_format(x):
    if (len(x) > 2 or len(x) < 2):
        return 'Null'
    return x.toUpper()

In [118]:
state_abbr_format('fl')

AttributeError: 'str' object has no attribute 'toUpper'

In [119]:
def state_abbr_format(x):
    if (len(x) > 2 or len(x) < 2):
        return 'Null'
    return x.upper()

In [120]:
state_abbr_format('fl')

'FL'

In [121]:
def state_abbr_format(x):
    if (len(x) > 2 or len(x) < 2 or !x.isalpha()):
        return 'Null'
    return x.upper()

SyntaxError: invalid syntax (<ipython-input-121-a1c7951bcff5>, line 2)

In [122]:
def state_abbr_format(x):
    if (len(x) > 2 or len(x) < 2 or not x.isalpha()):
        return 'Null'
    return x.upper()

In [123]:
state_abbr_format('h!')

'Null'

In [124]:
state_abbr_format('fl')

'FL'

In [125]:
state_abbr_format('abc')

'Null'

In [126]:
statesAbr['user_location'] = statesAbr['user_location'].apply(state_abbr_format)

In [127]:
statesAbr.head()

   user_location        date                            hashtags
2             KY  2020-07-25                         ['COVID19']
6             FL  2020-07-25           ['COVID19', 'Recruiting']
27            NY  2020-07-25                         ['COVID19']
32            FL  2020-07-25               ['covid19', 'Africa']
38            UK  2020-07-25  ['BorisJohnson', '5COBRA', 'Five']

In [128]:
statesAbr.head(50)

,user_location,date,hashtags
2,KY,2020-07-25,['COVID19']
6,FL,2020-07-25,"['COVID19', 'Recruiting']"
27,NY,2020-07-25,['COVID19']
32,FL,2020-07-25,"['covid19', 'Africa']"
38,UK,2020-07-25,"['BorisJohnson', '5COBRA', 'Five']"
56,NY,2020-07-25,['COVID19']
57,LA,2020-07-25,['covid19']
64,GA,2020-07-25,"['COVID19', 'Coronavirus']"
67,NY,2020-07-25,['COVID19']
71,CO,2020-07-25,"['etsy', 'epiconetsy', 'masksforsale']"
77,DC,2020-07-25,['COVID19']
91,UK,2020-07-25,['COVID19']
104,NY,2020-07-25,"['FoxNews', 'COVID19', 'WaltDisneyWorld']"
107,NY,2020-07-25,"['coronavirus', 'COVID19', 'Hispanic', 'Latinx']"
115,FL,2020-07-25,['COVID19']
131,NY,2020-07-25,['COVID19']
159,FL,2020-07-25,['AR']
169,NY,2020-07-25,"['wearamask', 'covid', 'covid19']"
180,IL,2020-07-25,"['airlines', 'coronavirus']"
184,FL,2020-07-25,"['COVID19', 'COVID19', 'FakeNews', 'Democrats']"
214,MA,2020-07-25,['COVID19']
231,MI,2020-07-25,['Manufacturing']
236,TX,2020-07-25,['covid19']
237,MA,2020-07-25,['COVID19']
238,DC,2020-07-25,"['COVID19', 'TestingWhileBlack']"
244,WI,2020-07-25,"['masks', 'COVID19']"
250,IL,2020-07-25,"['WakeUp', 'COVID19', 'Fake', 'Plandemic', 'Ex..."
253,IN,2020-07-25,"['COVID19', 'InThisTogether']"
255,OH,2020-07-25,"['MedBikini', 'COVID19']"
257,NJ,2020-07-25,"['homeschooling', 'COVID19', 'coronavirus', 'NC']"
260,MO,2020-07-25,['COVID19']
261,NY,2020-07-25,['COVID19']
267,MO,2020-07-25,"['COVID19', 'Stimulus']"
268,OK,2020-07-25,"['facecoveringmandate', 'COVID19']"
272,FL,2020-07-25,['COVID19']
301,Null,2020-07-25,"['ExGop', 'pandemic']"
302,NY,2020-07-25,['COVID19']
309,Null,2020-07-25,"['COVID19', 'coronavirus', 'cantstopthetruth']"
315,TX,2020-07-25,['COVID19']
335,NC,2020-07-25,['COVID19']
337,MD,2020-07-25,"['Annapolis', 'COVID19']"
355,DC,2020-07-25,"['EssentialSurgery', 'COVID19']"
357,NY,2020-07-25,['COVID19']
403,OH,2020-07-25,['COVID19']
416,NY,2020-07-25,['COVID19']
436,NY,2020-07-25,"['berkleyforum', 'covid19']"
439,FL,2020-07-25,"['Coronavirus', 'Andorra', 'COVID19']"
450,NJ,2020-07-25,"['COVID19', 'theyhavenoidea']"
455,MA,2020-07-25,"['BlueWave2020', 'COVID19']"
463,NC,2020-07-25,"['WWE', 'WrestleMania', 'COVID19', 'Coronavirus']"

In [129]:
statesAbr = statesAbr[statesAbr.user_location != 'Null']

In [130]:
statesAbr.head(50)

,user_location,date,hashtags
2,KY,2020-07-25,['COVID19']
6,FL,2020-07-25,"['COVID19', 'Recruiting']"
27,NY,2020-07-25,['COVID19']
32,FL,2020-07-25,"['covid19', 'Africa']"
38,UK,2020-07-25,"['BorisJohnson', '5COBRA', 'Five']"
56,NY,2020-07-25,['COVID19']
57,LA,2020-07-25,['covid19']
64,GA,2020-07-25,"['COVID19', 'Coronavirus']"
67,NY,2020-07-25,['COVID19']
71,CO,2020-07-25,"['etsy', 'epiconetsy', 'masksforsale']"
77,DC,2020-07-25,['COVID19']
91,UK,2020-07-25,['COVID19']
104,NY,2020-07-25,"['FoxNews', 'COVID19', 'WaltDisneyWorld']"
107,NY,2020-07-25,"['coronavirus', 'COVID19', 'Hispanic', 'Latinx']"
115,FL,2020-07-25,['COVID19']
131,NY,2020-07-25,['COVID19']
159,FL,2020-07-25,['AR']
169,NY,2020-07-25,"['wearamask', 'covid', 'covid19']"
180,IL,2020-07-25,"['airlines', 'coronavirus']"
184,FL,2020-07-25,"['COVID19', 'COVID19', 'FakeNews', 'Democrats']"
214,MA,2020-07-25,['COVID19']
231,MI,2020-07-25,['Manufacturing']
236,TX,2020-07-25,['covid19']
237,MA,2020-07-25,['COVID19']
238,DC,2020-07-25,"['COVID19', 'TestingWhileBlack']"
244,WI,2020-07-25,"['masks', 'COVID19']"
250,IL,2020-07-25,"['WakeUp', 'COVID19', 'Fake', 'Plandemic', 'Ex..."
253,IN,2020-07-25,"['COVID19', 'InThisTogether']"
255,OH,2020-07-25,"['MedBikini', 'COVID19']"
257,NJ,2020-07-25,"['homeschooling', 'COVID19', 'coronavirus', 'NC']"
260,MO,2020-07-25,['COVID19']
261,NY,2020-07-25,['COVID19']
267,MO,2020-07-25,"['COVID19', 'Stimulus']"
268,OK,2020-07-25,"['facecoveringmandate', 'COVID19']"
272,FL,2020-07-25,['COVID19']
302,NY,2020-07-25,['COVID19']
315,TX,2020-07-25,['COVID19']
335,NC,2020-07-25,['COVID19']
337,MD,2020-07-25,"['Annapolis', 'COVID19']"
355,DC,2020-07-25,"['EssentialSurgery', 'COVID19']"
357,NY,2020-07-25,['COVID19']
403,OH,2020-07-25,['COVID19']
416,NY,2020-07-25,['COVID19']
436,NY,2020-07-25,"['berkleyforum', 'covid19']"
439,FL,2020-07-25,"['Coronavirus', 'Andorra', 'COVID19']"
450,NJ,2020-07-25,"['COVID19', 'theyhavenoidea']"
455,MA,2020-07-25,"['BlueWave2020', 'COVID19']"
463,NC,2020-07-25,"['WWE', 'WrestleMania', 'COVID19', 'Coronavirus']"
471,IL,2020-07-25,"['airlines', 'coronavirus', 'covid19', 'Mask']"
475,FL,2020-07-25,"['Audubon', 'SaturdayMorning', 'SaturdayVibes'..."

In [131]:
statesAbr.to_csv(r'C:\Users\dvddc\Documents\Coding\covid-viz\US_cleaned_covid_tweets.csv')

In [132]:
nyt = pd.read_csv("covid19_tweets.csv")

In [133]:
nyt.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [134]:
nyt = pd.read_csv("covid-us-states-nyt.csv")

In [135]:
nyt.head()

,date,state,fips,cases,deaths,confirmed_cases,confirmed_deaths,probable_cases,probable_deaths
0,8/13/2020,Alabama,1,105557,1890,101496.0,1821.0,4061.0,69.0
1,8/13/2020,Alaska,2,4748,25,4748.0,25.0,0.0,0.0
2,8/13/2020,Arizona,4,190823,4385,NaN,NaN,NaN,NaN
3,8/13/2020,Arkansas,5,51766,582,51766.0,582.0,0.0,0.0
4,8/13/2020,California,6,600291,10868,600291.0,10868.0,0.0,0.0

In [136]:
nyt = nyt.drop(['fips', 'confirmed_cases', 'confirmed_deaths', 'probable_cases', 'probable_deaths'],axis='columns')
nyt.head()

        date       state   cases  deaths
0  8/13/2020     Alabama  105557    1890
1  8/13/2020      Alaska    4748      25
2  8/13/2020     Arizona  190823    4385
3  8/13/2020    Arkansas   51766     582
4  8/13/2020  California  600291   10868

In [137]:
dictTest['state'] = dictTest['state'].map(us_state_abbrev).fillna(dictTest['state'])

KeyError: 'state'

In [139]:
nyt['state'] = nyt['state'].map(us_state_abbrev).fillna(nyt['state'])
nyt.head()

        date state   cases  deaths
0  8/13/2020    AL  105557    1890
1  8/13/2020    AK    4748      25
2  8/13/2020    AZ  190823    4385
3  8/13/2020    AR   51766     582
4  8/13/2020    CA  600291   10868

In [140]:
nyt.to_csv(r'C:\Users\dvddc\Documents\Coding\covid-viz\nyt_cleaned_covid_totals.csv')

In [141]:
nyt_daily = pd.read_csv("daily-us-states.csv")

In [142]:
nyt_daily.head()

        date       state   cases  deaths
0  7/25/2020     Alabama   78130    1456
1  7/25/2020      Alaska    2866      18
2  7/25/2020     Arizona  160055    3288
3  7/25/2020    Arkansas   37981     399
4  7/25/2020  California  453327    8428

In [143]:
nyt_daily['state'] = nyt_daily['state'].map(us_state_abbrev).fillna(nyt_daily['state'])
nyt.head()

        date state   cases  deaths
0  8/13/2020    AL  105557    1890
1  8/13/2020    AK    4748      25
2  8/13/2020    AZ  190823    4385
3  8/13/2020    AR   51766     582
4  8/13/2020    CA  600291   10868

In [144]:
nyt_daily.to_csv(r'C:\Users\dvddc\Documents\Coding\covid-viz\nyt_cleaned_daily-us-states.csv')

In [145]:
statesAbr.head()

   user_location        date                            hashtags
2             KY  2020-07-25                         ['COVID19']
6             FL  2020-07-25           ['COVID19', 'Recruiting']
27            NY  2020-07-25                         ['COVID19']
32            FL  2020-07-25               ['covid19', 'Africa']
38            UK  2020-07-25  ['BorisJohnson', '5COBRA', 'Five']

In [146]:
statesCount = statesAbr.pivot_table(index=['user_location'], aggfunc='size')
statesCount.head()

user_location
AB    20
AK    31
AL    71
AR    63
AU     1
dtype: int64

In [147]:
statesCount.head(50)

user_location
AB      20
AK      31
AL      71
AR      63
AU       1
AZ     202
BC     135
BE       2
CA    1987
CH       1
CO     213
CT     131
DC     764
DE      17
EU       2
FL     755
GA     510
GB       2
GR       1
GU       2
HI      48
IA      51
ID      15
IE       1
IL     483
IN     137
IT       2
KS      58
KY      88
LA     117
MA     497
MB       2
MD     250
ME      29
MI     231
MN     191
MO     169
MS      38
MT      12
MX       2
NB       4
NC     318
ND      14
NE      48
NG       2
NH      53
NJ     282
NL       3
NM      64
NS       2
dtype: int64

In [148]:
statesCount.to_csv(r'C:\Users\dvddc\Documents\Coding\covid-viz\cleaned_state_tweet_total.csv')

In [149]:
nyt_daily.head()

        date state   cases  deaths
0  7/25/2020    AL   78130    1456
1  7/25/2020    AK    2866      18
2  7/25/2020    AZ  160055    3288
3  7/25/2020    AR   37981     399
4  7/25/2020    CA  453327    8428

In [150]:
stateAbr.head()

NameError: name 'stateAbr' is not defined

In [152]:
statesAbr.head(50)

,user_location,date,hashtags
2,KY,2020-07-25,['COVID19']
6,FL,2020-07-25,"['COVID19', 'Recruiting']"
27,NY,2020-07-25,['COVID19']
32,FL,2020-07-25,"['covid19', 'Africa']"
38,UK,2020-07-25,"['BorisJohnson', '5COBRA', 'Five']"
56,NY,2020-07-25,['COVID19']
57,LA,2020-07-25,['covid19']
64,GA,2020-07-25,"['COVID19', 'Coronavirus']"
67,NY,2020-07-25,['COVID19']
71,CO,2020-07-25,"['etsy', 'epiconetsy', 'masksforsale']"
77,DC,2020-07-25,['COVID19']
91,UK,2020-07-25,['COVID19']
104,NY,2020-07-25,"['FoxNews', 'COVID19', 'WaltDisneyWorld']"
107,NY,2020-07-25,"['coronavirus', 'COVID19', 'Hispanic', 'Latinx']"
115,FL,2020-07-25,['COVID19']
131,NY,2020-07-25,['COVID19']
159,FL,2020-07-25,['AR']
169,NY,2020-07-25,"['wearamask', 'covid', 'covid19']"
180,IL,2020-07-25,"['airlines', 'coronavirus']"
184,FL,2020-07-25,"['COVID19', 'COVID19', 'FakeNews', 'Democrats']"
214,MA,2020-07-25,['COVID19']
231,MI,2020-07-25,['Manufacturing']
236,TX,2020-07-25,['covid19']
237,MA,2020-07-25,['COVID19']
238,DC,2020-07-25,"['COVID19', 'TestingWhileBlack']"
244,WI,2020-07-25,"['masks', 'COVID19']"
250,IL,2020-07-25,"['WakeUp', 'COVID19', 'Fake', 'Plandemic', 'Ex..."
253,IN,2020-07-25,"['COVID19', 'InThisTogether']"
255,OH,2020-07-25,"['MedBikini', 'COVID19']"
257,NJ,2020-07-25,"['homeschooling', 'COVID19', 'coronavirus', 'NC']"
260,MO,2020-07-25,['COVID19']
261,NY,2020-07-25,['COVID19']
267,MO,2020-07-25,"['COVID19', 'Stimulus']"
268,OK,2020-07-25,"['facecoveringmandate', 'COVID19']"
272,FL,2020-07-25,['COVID19']
302,NY,2020-07-25,['COVID19']
315,TX,2020-07-25,['COVID19']
335,NC,2020-07-25,['COVID19']
337,MD,2020-07-25,"['Annapolis', 'COVID19']"
355,DC,2020-07-25,"['EssentialSurgery', 'COVID19']"
357,NY,2020-07-25,['COVID19']
403,OH,2020-07-25,['COVID19']
416,NY,2020-07-25,['COVID19']
436,NY,2020-07-25,"['berkleyforum', 'covid19']"
439,FL,2020-07-25,"['Coronavirus', 'Andorra', 'COVID19']"
450,NJ,2020-07-25,"['COVID19', 'theyhavenoidea']"
455,MA,2020-07-25,"['BlueWave2020', 'COVID19']"
463,NC,2020-07-25,"['WWE', 'WrestleMania', 'COVID19', 'Coronavirus']"
471,IL,2020-07-25,"['airlines', 'coronavirus', 'covid19', 'Mask']"
475,FL,2020-07-25,"['Audubon', 'SaturdayMorning', 'SaturdayVibes'..."

In [155]:
statesAbr.groupby(['user_location','date'])['user_location'].count()

user_location  date
AB             2020-07-25    5
               2020-07-26    2
               2020-08-01    2
               2020-08-02    2
               2020-08-04    2
                            ..
WY             2020-08-09    2
‚ÑÇùî∏             2020-08-01    1
Âè∞ÁÅ£             2020-08-10    1
               2020-08-13    1
È¶ôÊ∏Ø             2020-08-12    1
Name: user_location, Length: 922, dtype: int64

In [156]:
tweets_by_date = statesAbr.groupby(['date','user_location'])['user_location'].count()

In [157]:
tweets_by_date.head()

date        user_location
2020-07-24  AR                1
            AZ                2
            CA               18
            DC                3
            FL                1
Name: user_location, dtype: int64

In [158]:
tweets_by_date.head(50)

date        user_location
2020-07-24  AR                 1
            AZ                 2
            CA                18
            DC                 3
            FL                 1
            IL                 1
            MA                 2
            MD                 1
            MI                 1
            MN                 1
            NJ                 1
            NM                 1
            NV                 1
            NY                 8
            OH                 1
            ON                 1
            PA                 2
            TX                 5
            UT                 1
            VA                 1
            WA                 2
2020-07-25  AB                 5
            AK                 2
            AL                11
            AR                 3
            AZ                18
            BC                18
            CA               221
            CO                33
            CT                19
            DC                52
            DE                 4
            FL               110
            GA                83
            HI                 2
            IA                 9
            ID                 1
            IL                58
            IN                19
            KS                13
            KY                 9
            LA                11
            MA                51
            MD                26
            ME                 3
            MI                27
            MN                17
            MO                21
            MS                 4
            NC                45
Name: user_location, dtype: int64

In [159]:
tweets_by_date.to_csv(r'C:\Users\dvddc\Documents\Coding\covid-viz\daily_total_tweets_by_state.csv')

In [160]:
tbd = statesAbr.groupby(['date'])['date'].count()

In [161]:
tbd.head()

date
2020-07-24      55
2020-07-25    1535
2020-07-26     552
2020-07-27     664
2020-07-28     756
Name: date, dtype: int64

In [162]:
tbd.head(50)

date
2020-07-24      55
2020-07-25    1535
2020-07-26     552
2020-07-27     664
2020-07-28     756
2020-07-29     522
2020-07-30     393
2020-07-31    1460
2020-08-01    1168
2020-08-02    1163
2020-08-04     548
2020-08-06    1296
2020-08-07     126
2020-08-08     808
2020-08-09     476
2020-08-10     818
2020-08-11     327
2020-08-12     337
2020-08-13     359
Name: date, dtype: int64

In [163]:
tbd.head(100)

date
2020-07-24      55
2020-07-25    1535
2020-07-26     552
2020-07-27     664
2020-07-28     756
2020-07-29     522
2020-07-30     393
2020-07-31    1460
2020-08-01    1168
2020-08-02    1163
2020-08-04     548
2020-08-06    1296
2020-08-07     126
2020-08-08     808
2020-08-09     476
2020-08-10     818
2020-08-11     327
2020-08-12     337
2020-08-13     359
Name: date, dtype: int64

In [165]:
tbd.to_csv(r'C:\Users\dvddc\Documents\Coding\covid-viz\daily_total_tweets.csv')

In [166]:
nyt_daily.head()

        date state   cases  deaths
0  7/25/2020    AL   78130    1456
1  7/25/2020    AK    2866      18
2  7/25/2020    AZ  160055    3288
3  7/25/2020    AR   37981     399
4  7/25/2020    CA  453327    8428

In [167]:
nyt_daily_total = nyt_daily.groupby('date')['date'].count()

In [168]:
nyt_daily_total.head()

date
7/25/2020    55
7/26/2020    55
7/27/2020    55
7/28/2020    55
7/29/2020    55
Name: date, dtype: int64

In [169]:
nyt_daily_total = nyt_daily.groupby('date')['date'].sum()

In [170]:
nyt_daily_total.head()

date
7/25/2020    7/25/20207/25/20207/25/20207/25/20207/25/20207...
7/26/2020    7/26/20207/26/20207/26/20207/26/20207/26/20207...
7/27/2020    7/27/20207/27/20207/27/20207/27/20207/27/20207...
7/28/2020    7/28/20207/28/20207/28/20207/28/20207/28/20207...
7/29/2020    7/29/20207/29/20207/29/20207/29/20207/29/20207...
Name: date, dtype: object

In [171]:
nyt_daily_total = nyt_daily.groupby('date')['cases'].sum()
nyt_daily_total.head()

date
7/25/2020    4190189
7/26/2020    4244406
7/27/2020    4303587
7/28/2020    4366697
7/29/2020    4433312
Name: cases, dtype: int64

In [172]:
us = pd.read_csv("us.csv")

In [173]:
us.head()

        date    cases  deaths
0  7/25/2020  4190189  146312
1  7/26/2020  4244406  146752
2  7/27/2020  4303587  148448
3  7/28/2020  4366697  149775
4  7/29/2020  4433312  151170

In [174]:
us.cases.diff()

0         NaN
1     54217.0
2     59181.0
3     63110.0
4     66615.0
5     69111.0
6     67736.0
7     58144.0
8     49325.0
9     47417.0
10    53393.0
11    53721.0
12    57511.0
13    60983.0
14    55197.0
15    48358.0
16    47125.0
17    53315.0
18    54187.0
19    53213.0
Name: cases, dtype: float64

In [175]:
us = pd.read_csv("us.csv")

In [176]:
us = us.cases.diff()
us.head()

AttributeError: 'DataFrame' object has no attribute 'cases'

In [177]:
us.head()

   7/24/2020  4123413  145429
0  7/25/2020  4190189  146312
1  7/26/2020  4244406  146752
2  7/27/2020  4303587  148448
3  7/28/2020  4366697  149775
4  7/29/2020  4433312  151170

In [178]:
us = pd.read_csv("us.csv")
us = us.cases.diff()
us.head()

0        NaN
1    66776.0
2    54217.0
3    59181.0
4    63110.0
Name: cases, dtype: float64

In [179]:
us = pd.read_csv("us.csv")
us['cases'] = us.cases.diff()
us.head()

        date    cases  deaths
0  7/24/2020      NaN  145429
1  7/25/2020  66776.0  146312
2  7/26/2020  54217.0  146752
3  7/27/2020  59181.0  148448
4  7/28/2020  63110.0  149775

In [180]:
us.to_csv(r'C:\Users\dvddc\Documents\Coding\covid-viz\daily_us.csv')